@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Open+Sans+Condensed:300,700");

	body, input, select, textarea {
		color: #5c6062;
		font-family: "Open Sans", Helvetica, sans-serif;
		}
		
	h1, h2, h3, h4, h5, h6 {
		color: #5c6062;
		font-family: "Open Sans Condensed", sans-serif;
		font-weight: 700;
	}